#btnRegistrar{
    color: #ffffff;
    margin-left: 10px;
}

#btnIniciarSesion{
    color: #ffffff;
    margin-left: 10px;
}

#btnSalir{
    color: #ffffff;
    margin-left: 10px;
}

#btnMiCuenta{
    color: #2d3748;
    margin-left: 10px;
}
#bienvenido{
    margin-top: 5px;
    margin-right: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 5px white;

}

